

body{
    font-family: cursive;
    overflow: hidden;
    background-image: url("../img/fondo01.jpg ");
    background-repeat: no-repeat;
    background-size:cover;
    scroll-margin-inline:initial ;
}

img {
    width: 210px;
    height: 80px;
    margin: 5px;
    border-radius: 10% 5%;
}

h1, h2, h3, h4, h5, h6{
    font: bold;
    color: var(--primary-color);
}

.finanzas {
    width: 300px;
}

.containerformulario {
    background-color: rgba(143, 238, 114, 0.4);
    border-radius: 15px 15px;
    list-style: none;
    padding: 2rem 1.5rem;
}