
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.title-user {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-user {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
    border-radius: 2rem;
    padding: 3rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-user {
    background-color: transparent;
    padding: 1rem;
    border-radius: 0.4rem;
    color: black;
    width: 100%;
    font-size: 1rem;

}

.span-user {
    margin-top: 25px;
    margin-bottom: 20px;
    color: rgb(32, 5, 141);
    margin-right: 5px;
}
